@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100%;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}









#rayen{
    width: 160px; 
    position: absolute;
    margin-bottom: 430px;
    
     }
       #omo{
         margin: 80px;
         text-align: center;
         margin-top: 100px; 
         font-family: 'Times New Roman', Times, serif;
         font-size: 50px;
       }
    
       #ahmed {
        width: 160px; 
        position: absolute;
        margin-bottom: 430px;
       }
    
       .hmed {
        flex-direction: column;
        width: 300px;
        background-color: #89d8e3;
        height: 400px;
        position: relative;
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 20px;
        margin: 50px;
        border-radius: 15px;
        box-shadow: -1px 0px 18px 0px rgba(0,0,0,0.42);
    -webkit-box-shadow: -1px 0px 18px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: -1px 0px 18px 0px rgba(0,0,0,0.42);
    }
    
    
       #name{
        text-align: center;
        margin-top: 80px;
        margin-bottom: 15px;
       }
    
    p {
        font-size: 20px;
    }
    
    .imenn {
        flex-direction: column;
        width: 300px;
        background-color: #89d8e3;
        height: 400px;
        position: relative;
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 20px;
        margin:  50px;
        border-radius: 15px;
        box-shadow: -1px 0px 18px 0px rgba(0,0,0,0.42);
        -webkit-box-shadow: -1px 0px 18px 0px rgba(0,0,0,0.42);
        -moz-box-shadow: -1px 0px 18px 0px rgba(0,0,0,0.42);
        
    }
    
    #minecraft {
        margin-left: 10px;
        line-height: 35px;
    
    }
    
    .welcome {
      
    justify-content: center;
    width: calc(100vw - 200px - 600px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#dcdddd;
    border-radius: 20px;
    padding: 20px;
    line-height: 40px;
    }
    
    
    #oo {
        display: flex;
        margin-bottom: 100px;
    }
    
    header{
        background-color: rgb(134, 134, 210);
        height: 80px;
        border-radius: 20px;    
    }
    
    nav {
        text-align: center;
        display: flex;
        justify-content: space-around;
    }
    
    #git {
        margin-left: 100px;
        font-size: 20px;
        margin-top: 20px;
    }
    
    #cs {
        margin-right: 100px;
        font-size: 20px;
        margin-top:20px;
    }
    
    #git:hover{
        color: aquamarine;
    }
    
    #cs:hover{
        color:aquamarine
    }
    h2{
      margin-bottom:50px;
    }













    .headerrr {
        display: flex;
        align-items: center;
        gap: 50px;
        justify-content: center;
        margin-left: 50px;
      }
      .all_nav {
        display: flex;
        border-end-start-radius: 50px;
        width: 100%;
        border-end-end-radius: 50px;
        height: 100px;
        align-items: center;
        justify-content: space-around;
        background-color: #3b4157;
      }
      .panier img {
        width: 50px;
        margin-left: 450px;
        /* position: absolu te; */
      }
      
      .headerrr > * {
        color: rgb(255, 255, 255);
        text-decoration: none;
        cursor: pointer;
        font-size: 20px;
      }
      .headerrr :hover {
        color: black;
        font-size: 30px;
      }
      
      .logo {
        width: 40px;
        height: 40px;
      }
      @media screen and (max-width: 1000px) {
        /* write your CSS in this code block */
      }